@charset "utf-8";
@import url("font.css");

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* reset */
html {width:100%;}
/* body {margin:0; padding:0; background:#fff; overflow-y:scroll; height:100%; width:100%; word-break:keep-all;} */
body {margin:0; padding:0; background:#fff;height:100%; width:100%; word-break:keep-all;}
body {font-family:"NanumNeo", "맑은고딕","Malgun Gothic", "NanumSquareNeo-Variable", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "sans-serif"; -webkit-font-smoothing: antialiased; font-size:16px; font-weight:400; letter-spacing:0.05em; color:#272760; line-height:1.5;}
* {color:inherit; font-family:inherit; font-size:inherit; font-weight:inherit; letter-spacing:inherit; line-height:inherit;box-sizing: border-box;}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block;}
b,strong {font-weight:600}
h1,h2,h3,h4,h5,h6,p,form,span {margin:0; padding:0; font-weight:normal}
div,table {margin:0; padding:0; border-spacing:0; border-collapse:collapse; border:0px none;}
ul,ol,li,td,dl,dt,dd {margin:0; padding:0;list-style:none;}
em,i {font-style:normal;}
u {text-decoration:none;}
a,span {display:inline-block;}
img {border:0;max-width:100%;vertical-align:top}
address, caption, pre, em, i {font-style:normal;}

table{width:100%;border-collapse:collapse;border-spacing:0;}
table caption,legend{height:0;width:0;overflow:hidden;font-size:0;}
table, caption, tbody, tfoot, thead, tr, th, td {background:transparent;font-size:100%;}
th,td{vertical-align:middle}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
hr{ width:100%; height:1px; background-color:#ddd; margin:20px 0px; border:0px;}

/* 링크속성 */
a{color:#333;text-decoration:none;}
a:hover,a:focus{color:#34586e}
a:focus{color:#34586e;}
a:link, a:visited {color:inherit; text-decoration:none; cursor:pointer;}

/* form */
input, select, textarea, button {color:#121212; vertical-align:middle;padding:8px 10px;border:1px solid #c8ced7;box-sizing:border-box;height:45px;border-radius:8px;}
input::-ms-clear {display: none}
input {-webkit-appearance: none;} /*아이폰 버튼스타일 제거*/
input[type='checkbox']{-webkit-appearance:checkbox} 
input[type='radio']{-webkit-appearance:radio;vertical-align:top}
textarea {resize:none;border-radius:8px;}
select {border-radius:8px;}
select {padding:8px 24px 8px 12px;-webkit-padding-end:24px;-moz-padding-end:24px;background:url('/_KOR/img/select_arrow.svg') no-repeat right 11px center #fff;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;min-width:72px;}
select::-ms-expand {display: none;}
textarea {resize:none;}
button, label,input[type='submit'],input[type='button'],input[type="radio"]:hover,input[type="checkbox"]:hover {cursor:pointer;}
fieldset{border:none;margin:0;padding:0}
input:read-only{background:#fafafa;color:#111;}
input:disabled{background:#F2F4F7;color:#525866;}
button{font-weight:700}

input[type="radio"]{position:relative;width:25px; height:18px; border:none; padding:0; margin:0; background:none;  appearance: none; -webkit-appearance:none; }
input[type="radio"]:before{content:'';width:20px;height:20px;display:inline-block; background-color:#fff; border:6px solid #E2E4E9;border-radius:50%; box-sizing:border-box; position:absolute;left:0;top:0;transition:all .2s ease-in-out;}
input[type="radio"]:checked:before{border:6px solid #375DFB;}
label.label{display: inline-flex;align-items: center;line-height:24px;vertical-align: middle;}
input:checked + label{font-weight:700;}

input[type="checkbox"]{position:relative;width:25px; height:18px; border:none; padding:0; margin:0; background:none;  appearance: none; -webkit-appearance:none; }
input[type="checkbox"]:before{content:'';width:20px;height:20px;display:inline-block; background-color:#fff; border:2px solid #E2E4E9;border-radius:6px; box-sizing:border-box; position:absolute;left:0;top:0;transition:all .2s ease-in-out;}
input[type="checkbox"]:checked:before{background:url('/_KOR/img/checkbox_w.svg') center center no-repeat #1570ef ;border-color:transparent}
input[type="checkbox"]:focus:before{border:2px solid #375DFB;}
input:checked + label{font-weight:700;}
.checkbox,
.radio{min-height:32px;display: inline-flex;align-items: center;}
.checkbox:not(:last-child),
.radio:not(:last-child){margin-right:8px;}

/* 마우스 드래그 컬러 */
::selection {background:#0661ff; color:#fff; text-shadow: none;}
::-moz-selection {background:#0661ff; color:#fff; text-shadow: none;}
::-webkit-selection {background:#0661ff; color:#fff; text-shadow: none;}

/* 인풋 플레이스 홀더 */
input::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { color:#999;font-size:.875em}

/* Accessibility */
.sound_only,.blind{height:0;width:0;font-size:0;overflow:hidden;}
.hide{display:none}

/* skipNavi */
#skipNavi{position:absolute;top:-1px;background-color:#333;z-index:999}
#skipNavi a{position:absolute;top:0;left:0;padding:10px 25px;margin-top:-100px;text-align:center;line-height:1;white-space:nowrap;background:#000}
#skipNavi a:link{color:#333;}
#skipNavi a:focus{margin-top:0;text-decoration:underline;color:#fff}

/* 글자자름 (inline-block, block 형태로 가로폭 지정)*/
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ellipsis2{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.ellipsis3{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

/* font - 에스코어 드림 */
.typo{font-family:"SCoreDream", "sans-serif";}

/* 정렬 */
.p_r{position:relative}
.p_a{position:absolute}
.t_a_c{text-align:center }
.t_a_l{text-align:left }
.t_a_r{text-align:right}

.float_r{float:right}
.float_l{float:left }
.float_n{float:none !important;}

.v_a_t {vertical-align:top }
.v_a_m {vertical-align:middle }
.v_a_b {vertical-align:bottom }
ul.ulfl > li{float:left}

.dp_ini{display:inline}
.dp_inb{display:inline-block}
.dp_blo{display:block}
.dp_flex{display:flex}

.f_v_c{align-items: center;}
.f_h_c{justify-content: center;}
.f_h_v{justify-content: space-between;}
.f_vh_c{justify-content: center;align-items: center;}
.f_wrap{flex-wrap:wrap;}

.clear{clear:both !important;}
.clearfix:after,ul.ulfl:after,#container:after {content:"";width:100%;display:block;visibility:hidden;clear:both;}

/* 폰트속성 */
.fw_0 {font-weight:normal  !important;}
.fw_1 {font-weight:500}
.fw_2 {font-weight:600}
.fw_3 {font-weight:700}
.fw_4 {font-weight:800}
.fw_5 {font-weight:900}

/* 폰트속성 size */
.fs_1{font-size:0.800rem !important;}

.img-text{font-size:0 !important}

/* Typography */
.h1{font-size:2.75rem;line-height:3.575rem;} /* 44px */
.h2{font-size:2.5rem;line-height:3.25rem;} /* 40px */
.h3{font-size:2.25rem;line-height:2.925rem;}/* 36px */
.h4{font-size:2rem;line-height:2.6rem;}/* 32px */
.h5{font-size:1.75rem;line-height:2.275rem;}/* 28px */
.h6{font-size:1.5rem;line-height:1.95rem;}/* 24px */

.stit_1{font-size:1.25rem;line-height:1.75rem;}/* 20px */
.stit_2{font-size:1.188rem;line-height:1.688rem;}/* 19px */
.stit_3{font-size:1.125rem;line-height:1.6rem;}/* 18px */

.body_1{font-size:1.063rem;line-height:1.488rem;}/* 17px */
.body_2{font-size:1rem;line-height:1.5rem;}/* 16px */
.body_3{font-size:0.938rem;line-height:1.38rem;}/* 15px */
.body_4{font-size:0.875rem;line-height:1.313rem;}

.caption{font-size:0.813rem;line-height:1.313rem;}/* 13px */
.overline{font-size:0.75rem;line-height:1.125rem;}/* 12px */


/* box */
.radius_s{border-radius:4px;}
.radius_m{border-radius:8px;}
.radius_l{border-radius:12px;}
.radius_xl{border-radius:16px;}
.radius_xxl{border-radius:24px;}

/*------------------------------------*\
  width
\*------------------------------------*/
.w100p {width:100%;}
.w90p{width:90%}
.w80p{width:80%}
.w70p{width:70%}
.w60p{width:60%}
.w50p{width:50%}
.w49p{width:49%}
.w40p{width:40%}
.w30p{width:30%}
.w33p{width:33.3%}
.w25p{width:25%}
.w20p{width:20%}
.w15p{width:15%}
.w10p{width:10%}

/*------------------------------------*\
  margin/padding
\*------------------------------------*/
.mt0 {margin-top:0px !important;}
.mt4 {margin-top:0.25rem !important;}
.mt8 {margin-top:0.5rem !important;}
.mt16{margin-top:1rem !important;}
.mt20{margin-top:1.25rem !important;}
.mt24{margin-top:1.5rem !important;}
.mt30{margin-top:1.875rem !important;}
.mt32{margin-top:2rem !important;}
.mt36{margin-top:2.25rem !important;}
.mt40{margin-top:2.5rem !important;}
.mt44{margin-top:2.75rem !important;}

.mb0 {margin-bottom:0px !important;}
.mb4 {margin-bottom:0.25rem !important;}
.mb8 {margin-bottom:0.5rem !important;}
.mb16{margin-bottom:1rem !important;}
.mb20{margin-bottom:1.25rem !important;}
.mb24{margin-bottom:1.5rem !important;}
.mb32{margin-bottom:2rem !important;}
.mb36{margin-bottom:2.25rem !important;}
.mb40{margin-bottom:2.5rem !important;}
.mb44{margin-bottom:2.75rem !important;}

.mr0 {margin-right:0px !important;}
.mr4 {margin-right:0.25rem !important;}
.mr8 {margin-right:0.5rem !important;}
.mr16{margin-right:1rem !important;}
.mr20{margin-right:1.25rem !important;}

.ml0 {margin-left:0px !important;}
.ml4 {margin-left:0.25rem !important;}
.ml8 {margin-left:0.5rem !important;}
.ml12 {margin-left:0.75rem !important;}
.ml16{margin-left:1rem !important;}
.ml20{margin-left:1.25rem !important;}
.ml40{margin-left:2.5rem !important;}

.pa0 {padding:0px !important;}
.pa4 {padding:0.25rem !important;}
.pa8 {padding:0.5rem !important;}
.pa16{padding:1rem !important;}
.pa20{padding:1.25rem !important;}
.pa24{padding:1.5rem !important;}
.pa32{padding:2rem !important;}
.pa36{padding:2.25rem !important;}
.pa40{padding:2.5rem !important;}
.pa44{padding:2.75rem !important;}
.pa50{padding:3.125rem !important;}


/*------------------------------------*\
  button
\*------------------------------------*/
.btn{position: relative;font-weight:700;padding:11px 16px;display: inline-flex;justify-content: center;align-items: center;white-space:nowrap;text-align: center;vertical-align: middle;border: 1px solid transparent;border-radius:4px;transition:all .2s ease;}
.btn > *{font-weight:700;}
.btn_ss{padding:4px 8px;font-size:.75rem ;border-radius:4px;}
.btn_s{padding:7px 16px;font-size:.875rem ;border-radius:6px;}
.btn_m{padding:14px 28px;font-size:1.125rem;border-radius:8px;}
.btn_l{padding:18px 40px;font-size:1.25rem;border-radius:10px;}

.ico_box{display:inline-flex;align-items: center;}
.ico{display: inline-flex;justify-content: center;align-items:center;}

.ico_box span + span,
.btn + .btn{margin-left:4px;}
.btn.btn_block{display:block;width:100%;}
.btn:hover{box-shadow:0px 0px 12px 4px rgba(0, 0, 0, 0.05);}

/* 컬러 */
.green{color:#039855 !important;}
.mint{color:#1F87AD !important;}
.blue,.primary_color{color:#1570EF !important;}
.blue_d{color:#253EA7 !important;}
.navy{color:#162664 !important;}
.yellow{color:#B47818 !important}
.orange{color:#F17B2C !important}
.orange_d{color:#C2540A !important}
.purple{color:#7F56D9 !important} 
.pink{color:#F63D68 !important}
.red{color:#DF1C41 !important}
.bk{color:#1D2939 !important} 
.gray700{color:#344054 !important;}
.gray600{color:#475467 !important;}
.gray500{color:#667085 !important;}

/* 배경 */
.bg_bk{background-color:#1D2939 !important; color:#fff !important}
.bg_gray{background-color:#FCFCFD !important;}
.bg_gray1{background-color:#F9FAFB !important;}
.bg_gray2{background-color:#EAECF0 !important;}
.bg_gray3{background-color:#e2e6ea !important;}
.bg_disable{background-color:#eee !important;color:#888  !important;cursor: unset !important;}
.bg_dgray{background-color:#98A2B3 !important; color:#fff !important}
.bg_dgray2{background-color:#667085 !important; color:#fff !important}
.bg_green{background-color:#2d9f75 !important;color:#fff !important}
.bg_mint{background-color:#1F87AD !important;color:#fff !important}
.bg_blue,.primary_bg{background-color:#1570EF !important;color:#fff !important}
.bg_blue2{background-color:#4E5BA6 !important;color:#fff !important}
.bg_blue_l{background-color:#0BA5EC !important;color:#fff !important}
.bg_blue_light{background-color:#d1d8e7 !important;}
.bg_navy{background-color:#194185 !important;color:#fff !important}
.bg_lnavy{background-color:#272760 !important;color:#fff !important}
.bg_orange{background-color:#FB6514 !important;color:#fff !important}
.bg_orange2{background-color:#EC4A0A !important;color:#fff !important}
.bg_red{background-color:#D92D20 !important;color:#fff !important}
.bg_lred{background-color:#F04438;}
.bg_purple{background-color:#7F56D9 !important;color:#fff !important}
.bg_pink{background-color:#F63D68 !important;color:#fff !important}
.bg_yellow{background-color:#F79009 !important;}
.bg_w{background-color:#fff !important;}
.bg_w_bo{background-color:#fff !important;border:1px solid #E2E4E9}
.bg_w_bl{background-color:#fff !important;border:1px solid #1570EF;color:#1570EF  !important;}
.bg_r_bo{background-color:#fff !important;border:1px solid #D92D20;color:#D92D20  !important;}
.bg_bk_bo{background-color:#fff !important;border:1px solid #525866;color:#344054  !important;}

/* 상단으로 */
.loca_nav{position:fixed;right:10px;bottom:50px;z-index:700;display:none}
.loca_nav a{position:relative;display:block;color:#000;background:#fff;width:50px;height:50px;text-align:center;font-size:0px ;border:1px solid #eee;opacity:0.9;font-weight:500;border-radius:4px;}
.loca_nav a.top {padding-top:25px;}
.loca_nav a:before{content:'';position:absolute;top:20px;left:50%;width:8px;height:8px;display:inline-block;border:solid #000;border-width:2px 2px 0 0;transform:rotate(-45deg);vertical-align:middle;margin-left:-4px}
.loca_nav a.bottom{padding-top:12px;margin-top:5px;}
.loca_nav a.bottom:before{content:'';position:absolute;top:16px;left:50%;width:8px;height:8px;display:inline-block;border:solid #000;border-width:2px 2px 0 0;transform:rotate(135deg);vertical-align:middle;margin-left:-4px}
.loca_nav a:hover{background:#272760;color:#fff;opacity:1}
.loca_nav a:hover:before{border-color:#fff}

/* arrow,ico */
.ir{background:url('../img/ir.png') 0px 0px no-repeat;vertical-align:middle;}

/* 빈페이지 */
.empty_html{padding:80px 40px;border:4px solid #F6F8FA;border-radius:16px;background:#F6F8FA;}
.empty_html .empty_ico{width:160px;height:160px;margin:0 auto 32px;background:url('../img/no_cont.png') center center no-repeat #fff;border-radius:50%;}
.empty_item{padding:40px;background:#F9FAFB;border-radius:12px;text-align:center;}

/* 사이트맵 */
.sitemap_list{display:flex;flex-wrap:wrap;margin:-12px;}
.sitemap_list > li{width:calc((100% - 96px) / 4);margin:12px;border:1px solid #E2E4E9;border-radius:12px;padding-bottom:40px;box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.05);background:#fff;}
.sitemap_list > li > a{display:block;padding:24px;text-align:center;font-size:1.5rem;font-weight:700;color:#fff;border-radius:12px 12px 0 0;background: #194185;}
.sitemap_list > li > a:hover{background:#1570EF;}
.sitemap_dep2{border-top:0;border-radius:0 0 12px 12px;}
.sitemap_dep2 > li > a{display:block;padding:20px 24px;font-size:1.125rem;font-weight:700;border-bottom:1px solid #E2E4E9;}
.sitemap_dep2  a:hover{color:#375DFB;}
.sitemap_dep3{padding:8px 24px;border-bottom:1px solid #E2E4E9;background:#F6F8FA;}
.sitemap_dep3 > li > a{display:block;font-size:0.938rem;padding:12px 0px;font-weight:700;color:#667085;}
.sitemap_dep3 > li:not(:last-child) > a{border-bottom:1px solid #E2E4E9;}


/* 애니메이션 */
a{transition:all .3s ease; -webkit-transition:all .2s ease; -ms-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease;}

/* Animations */
.ani_box > *{transform: translateY(3rem);transition: all .4s ease-out;opacity:.0}
.action.ani_box > *{opacity:1;transform: translateY(0);}
.action.ani_box > *:nth-child(1){transition-delay:.1s}
.action.ani_box > *:nth-child(2){transition-delay:.2s}
.action.ani_box > *:nth-child(3){transition-delay:.3s}
.action.ani_box > *:nth-child(4){transition-delay:.4s}
.action.ani_box > *:nth-child(5){transition-delay:.55s}
.action.ani_box > *:nth-child(6){transition-delay:.6s}
.action.ani_box > *:nth-child(7){transition-delay:.65s}
.action.ani_box > *:nth-child(8){transition-delay:.7s}


@keyframes animate_background {0% {transform:scale(1.1)} 100% {transform:scale(1)}}
@keyframes fadein {from {margin-top:-15px; opacity: 0; }to{ margin-top:0px; opacity: 1; }}
@keyframes up{
	0%{transform:translateY(-20px); opacity: 0;}
	100%{transform:translateY(0); opacity: 1;}
}

@keyframes fade_right{
	0%{transform:translateX(-60px); opacity: .2;}
	50%{transform:translateX(-30px); opacity: .5;}
	100%{transform:translateX(0); opacity: 1;}
}
@keyframes fade_left{
	0%{transform:translateX(20px); opacity: .0;}
	100%{transform:translateX(0); opacity: 1;}
}
@keyframes moveRight{
	50%{
		transform: translateX(24px);
	}
	51%{
		opacity: 0;
		transform: translateX(-24px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slide-bottom2 {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
			opacity:0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
			opacity:1;
  }
}

@keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  
  @keyframes kenburns-top {
	0% {
	  -webkit-transform: scale(1.1) translateY(-10px);
			  transform: scale(1.1) translateY(-10px);
	  -webkit-transform-origin: 50% 16%;
			  transform-origin: 50% 16%;
	}
	100% {
	  -webkit-transform: scale(1) translateY(0px);
			  transform: scale(1) translateY(0px);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	}
  }
  @keyframes slide-top {
	0% {
	  -webkit-transform: translateY(32px); opacity:0;
			  transform: translateY(32px); opacity:0;
	}
	100% {
	  -webkit-transform: translateY(0);opacity:1;
			  transform: translateY(0);opacity:1;
	}
  }

@media print {
	body{-webkit-print-color-adjust: exact;font-size:9pt !important}
	h2, h3, table,.latest_update {page-break-after: avoid;}
	img,table {max-width: 100% !important;width:100% !important;}
	.sub{padding-top:0 !important;}
	#footer, 
	#header, 
	#snb, 
	.table_wp 
	.notice{display:none !important;}
	.table_wp{overflow-x:unset;margin:0;width:100%;}
	.table_wp table{width:100% !important;}
	table{margin-top:10px !important;    border-collapse: collapse !important;}
    th, td {
		padding:6px !important;
        border: solid #ddd !important;
        border-width: 1px 0px 1px 0 !important;
    }
	th{border-right:1px solid #ddd !important;}
	#sub_wrap{display:block;}
	#snb{margin-top:0 !important;margin-bottom:20px !important;}
	#content_wrap{padding:0;margin:0;}
	#content_wrap .sub_tit{margin-bottom:20px !important;font-size:1.567em !important;}
}
