@charset "utf-8";

/* 서브 섹션 */
.sec + .sec{margin-top:72px;}
.hr_t{padding-top:40px;margin-top:40px;border-top:1px dashed #ddd;}
.hr_b{padding-bottom:40px;margin-bottom:40px;border-bottom:1px dashed #ddd;}

.sec_col{display:flex;flex-wrap: wrap;margin:-8px -12px 0;}
.sec_col > *{margin:12px;width:100%;}
.sec_col.col_2 > *{width:calc((100% - 48px) / 2);}
.sec_col.col_3 > *{width:calc((100% - 72px) / 3);}
.sec_col.col_4 > *{width:calc((100% - 96px) / 4);}
.sec_col.col_5 > *{width:calc((100% - 120px) / 5);}
.sec_col.col_6 > *{width:calc((100% - 144px) / 6);}

.sec_col_s{display:flex;flex-wrap: wrap;margin:-8px -8px 0;}
.sec_col_s > *{margin:8px;width:100%;}
.sec_col_s.col_2 > *{width:calc((100% - 32px) / 2);}
.sec_col_s.col_3 > *{width:calc((100% - 48px) / 3);}
.sec_col_s.col_4 > *{width:calc((100% - 64px) / 4);}
.sec_col_s.col_5 > *{width:calc((100% - 80px) / 5);}
.sec_col_s.col_6 > *{width:calc((100% - 96px) / 6);}

.in_wp{position:relative;}

/* 타이틀 */
.subtit_1{position:relative;padding-top:16px;margin-bottom:24px;font-size:1.75rem;font-weight:600;}

.subtit_2{position:relative;margin:16px 0;font-size:1.5rem;font-weight:600;color:#344054}
.subtit_2-1{position:relative;margin-bottom:24px;padding-left:28px;font-size:1.75rem;font-weight:600;}
.subtit_2-1:before{content:'';position:absolute;top:9px;left:0;width:18px;height:18px;background:url("/_KOR/img/bul_1.png") 0px 0px no-repeat;}

.subtit_3{position:relative;margin:16px 0;font-size:1.25rem;line-height:1.75rem;font-weight:700;color:#344054}
.subtit_3-1{position:relative;margin-bottom:20px;padding-left:24px;font-size:1.25rem;font-weight:700;}
.subtit_3-1:before{content:'';position:absolute;top:8px;left:0;width:18px;height:18px;background:url("/_KOR/img/bul_2.png") 0px 0px no-repeat;}

* > .subtit_2:first-child,* > .subtit_3:first-child{margin-top:0}
* + .subtit_2,* + .subtit_3{margin-top:32px;}
[class*='subtit_'] > *{font-weight:700}
.tit_line{border-bottom:1px solid #ddd;padding-bottom:24px;margin-bottom:24px;}

/* 서브내용 */
.sub_p_wp * + *{margin-top:1.5rem}

/* 이사장 인사말 */
.greeting {display: flex;background:url(../img/Group\ 39.png) no-repeat right center;}
.greeting .txt_box {width: 45%;}
.greeting .txt_box .txt + .txt {margin-top: 20px;}
.greeting .img_box {width: 55%;}
.greeting .img_box .img1 {position: absolute;right: 50px;bottom: 80px;}
/* .greeting .img_box::after {content:'';display:block; width: 380px;height: 440px;background: linear-gradient(#fff, #d8e2ff);position: absolute;right: 110px;bottom: 80px;z-index: -1;} */
/* .greeting .img_box::before {content:'';display:block; width: 420px;height: 350px;background: linear-gradient(#fff, #CED9F6);position: absolute;right: 50px;bottom: 80px;z-index: -1;} */
/* .greeting .img_box .img1::after {content:'';display: block;width: 120px;height: 120px;border-radius: 50%;background-color: gold;position: absolute;bottom: 20px;left: -50px;} */


/* 오시는길 */
.location .loca_top {border-bottom:1px solid #E2E4E9;position: relative;}
.location .loca_top .map_wp  > div{width:100%;}
/* .location .loca_top .l_box{width:35%;padding:60px 40px;}
.location .loca_top .l_box .stit_2 {margin:16px 0 32px}
.location .loca_top .l_box li + li{margin-top:12px;}
.location .loca_top .l_box li .tit{min-width:70px}
.location .loca_top .l_box .btn_wp{margin-top:32px}
.location .loca_top .r_box{width:65%;}
.location .loca_top .r_box > div{width:100%;} */
.location .loca_top .float_box {padding: 15px 20px;position: absolute;left: 0;bottom: -30px;z-index: 10;background: #fff;box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);}
.location .loca_top .float_box li {position: relative;display: flex;align-items: center;justify-content: center;}
.location .loca_top .float_box li::after {content: '';display: block;width: 1px;height: 20px;background-color: #E2E4E9;position: absolute;top: 2px;right: -15px;}
.location .loca_top .float_box li:last-child::after {display: none;}
.location .loca_top .float_box li + li{margin-left:30px}
.location .loca_top .float_box li span {width: 16px;height: 16px;background: url(../img/loca_ico01.png) no-repeat center;margin-right: 5px;}
.location .loca_top .float_box li:nth-child(2) span {background: url(../img/loca_ico02.png) no-repeat center;}

.location .loca_top .root_daum_roughmap .wrap_btn_zoom button{height:34px}
.location .sec1 .bg_box{padding:4px 8px;margin-right:8px;border-radius:6px;}
.location .sec1  li + li{margin-left:12px;}

.basic_tb {border-top: 1px solid #000;margin: 14px 0;text-align: center;}
.basic_tb thead th {padding: 20px 10px;border: solid #e3e3e3;border-width: 1px 0;text-align: center;border-top: 1px solid #000;}
.basic_tb tbody td, .basic_tb tbody th {padding: 20px 12px;border: solid #e3e3e3;border-width: 1px 0;}

/* 재단일정 - 리스트(달력) - old*/
/* .calendarWrap .cal_hfct {display: flex;justify-content: center;}
.calendarWrap .cal_tb_wp {width: 640px;padding: 0 40px;}
.calendarWrap .calendarDay {display: flex;align-items: center;justify-content: space-between;margin-bottom: 40px;padding: 0 30px;}
.calendarWrap .calendarDay p {display: inline-block;font-size: 1.75rem;font-weight: 600;}

.calendarWrap .calenderTable{table-layout:fixed;}
.calendarWrap .calenderTable th{padding:1rem;font-size:1.1rem;color:#333;font-weight:600;text-align:center;}
.calendarWrap .calenderTable th.sun{color:#e91313;}
.calendarWrap .calenderTable th.sat{color:#1355e9;}
.calendarWrap .calenderTable td{height:60px;}

.calendarWrap .calenderTable td a {width: 100%;height: 100%;display: inline-flex;align-items: center;justify-content: center;}
.calendarWrap .calenderTable td a:hover{background:rgba(12, 255, 255, .25);}
.calendarWrap .calenderTable td a:hover p {font-weight: 700;}
.calendarWrap .calenderTable td.pick a {background:rgba(12, 255, 255, .25);}
.calendarWrap .calenderTable td.pick a p {font-weight: 700;}
.calendarWrap .calenderTable td > p{position:relative;}
.calendarWrap .calenderTable td > p span{width:20px;height:20px;background:#f4f4f4;border-radius:50%;text-align:center;line-height:20px;color:#666;font-size:.875em;font-weight:500;}
.calendarWrap .calenderTable td p.sun {color:#e91313;}
.calendarWrap .calenderTable td p.sat {color:#1355e9;}

.calendarWrap .cal_eve_wp {width: 520px;padding: 0 0 30px 50px;}

.calendarWrap .cal_eve_wp .scroll_wrap {max-height:700px;overflow-y: scroll;padding-left: 30px;}
.calendarWrap .cal_eve_wp .scroll_wrap::-webkit-scrollbar {
    width: 8px;
}
.calendarWrap .cal_eve_wp .scroll_wrap::-webkit-scrollbar-thumb {
    background: rgba(12, 255, 255, .25);
    border-radius: 10px;
}
.calendarWrap .cal_eve_wp .scroll_wrap::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}

.calendarWrap .cal_eve_tit {padding-left: 25px;font-size: 1.75rem;font-weight: 600;margin-bottom: 40px;}
.calendarWrap .cal_eve_tit span {font-weight: 600;}
.cal_eve_list  {padding-bottom: 30px;}
.cal_eve_list li {width: 400px;display:none;padding: 20px;box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);}
.cal_eve_list li .img_box {max-height:500px;overflow: hidden;}
.cal_eve_list li .text_box {padding: 16px;}
.cal_eve_list li .text_box .t1 {font-size: 0.875rem;}
.cal_eve_list li .text_box .t2 {border-bottom:1px solid #D9D9D9;font-size: 1.25rem;font-weight: 600;padding-bottom: 10px;}
.cal_eve_list li .text_box .t3{padding-top: 16px;}
.cal_eve_list li .btn_box {padding: 16px;}
.cal_eve_list li .btn_box .btn_more {border: 1px solid rgba(39, 39, 96, .2);padding: 10px 0;width: 100%;text-align: center;transition: all 0.3s linear;position: relative;display: block;}
.cal_eve_list li .btn_box .btn_more::after {content: '';display: block;width: calc(100% - 2px);height: 100%;border: 1px solid #272760;position: absolute;top: 0px;opacity: 0;transition: all 0.3s linear;}
.cal_eve_list li .btn_box .btn_more:hover {border: 1px solid rgba(39, 39, 96, 1);}
.cal_eve_list li .btn_box .btn_more:hover::after {opacity: 1;}
.cal_eve_list li + li {margin-top: 40px;} */

/* 재단일정 - 리스트(달력) */
/* .calendarWrap .cal_hfct {display: flex;justify-content: space-between;}

.cal_tb_wp .calendarDay {text-align: center;margin-bottom: 1.25rem;padding: 0 30px;}
.cal_tb_wp .calendarDay p {display: inline-block;font-size: 1.75rem;font-weight: 600;}

.cal_hfct .in_box_l {width: calc(100% - 450px);}
.cal_tb_wp .calenderTable{table-layout:fixed;}
.cal_tb_wp .calenderTable th{padding:1rem;font-size:1.1rem;color:#333;font-weight:600;text-align:center;}
.cal_tb_wp .calenderTable th.sun{color:#e91313;}
.cal_tb_wp .calenderTable th.sat{color:#1355e9;}
.cal_tb_wp .calenderTable td{height:40px;width: 80px;}
.cal_tb_wp .calenderTable td a {width: 100%;height: 100%;display: inline-flex;align-items: center;justify-content: center;}
.cal_tb_wp .calenderTable td a:hover{background:rgba(12, 255, 255, .25);}
.cal_tb_wp .calenderTable td a:hover p {font-weight: 700;}
.cal_tb_wp .calenderTable td.pick a {background:rgba(12, 255, 255, .25);}
.cal_tb_wp .calenderTable td.pick a p {font-weight: 700;}
.cal_tb_wp .calenderTable td > p{position:relative;}
.cal_tb_wp .calenderTable td > p span{width:20px;height:20px;background:#f4f4f4;border-radius:50%;text-align:center;line-height:20px;color:#666;font-size:.875em;font-weight:500;}
.cal_tb_wp .calenderTable td p.sun {color:#e91313;}
.cal_tb_wp .calenderTable td p.sat {color:#1355e9;}

.cal_tb_wp .cal_btn {display: flex;justify-content: space-between;padding: 0 30px;}
.cal_tb_wp .cal_btn a:hover {font-weight: 600;}

.in_box_l .cal_txt_wp {margin-top: 2rem;padding: 0 30px;}
.cal_txt_wp .item .tit {font-size: 1.75rem;font-weight: 500;}
.cal_txt_wp .item .place {padding: 10px 0;}

.cal_hfct .in_box_r {width: 400px;padding: 32px;} */

/* 재단일정 - 리스트(달력) */

.cal_tb_wp {width: calc(100% - 570px);}
.cal_tb_wp .calendarDay {text-align: center;margin-bottom: 1.25rem;}
.cal_tb_wp .calendarDay p {display: inline-block;font-size: 1.75rem;font-weight: 600;}

.cal_tb_wp .calenderTable{table-layout:fixed;}
.cal_tb_wp .calenderTable th{padding:1rem;font-size:1.1rem;color:#333;font-weight:600;text-align:center;}
.cal_tb_wp .calenderTable th.sun{color:#e91313;}
.cal_tb_wp .calenderTable th.sat{color:#1355e9;}
.cal_tb_wp .calenderTable td{height:40px;width: 80px;}
.cal_tb_wp .calenderTable td a {width: 100%;height: 100%;display: inline-flex;align-items: center;justify-content: center;}
.cal_tb_wp .calenderTable td a:hover{background:rgba(12, 255, 255, .25);}
.cal_tb_wp .calenderTable td a:hover p {font-weight: 700;}
.cal_tb_wp .calenderTable td.pick a {background:rgba(12, 255, 255, .25);}
.cal_tb_wp .calenderTable td.pick a p {font-weight: 700;}
.cal_tb_wp .calenderTable td > p{position:relative;}
.cal_tb_wp .calenderTable td > p span{width:20px;height:20px;background:#f4f4f4;border-radius:50%;text-align:center;line-height:20px;color:#666;font-size:.875em;font-weight:500;}
.cal_tb_wp .calenderTable td p.sun {color:#e91313;}
.cal_tb_wp .calenderTable td p.sat {color:#1355e9;}

.cal_tb_wp .cal_btn {display: flex;justify-content: space-between;padding: 0 30px;}
.cal_tb_wp .cal_btn a:hover {font-weight: 600;}


/* .cal_cont_wp .cont_list {width: 100%;} */
.cal_cont_wp .cont_list .item {display: flex;justify-content: space-between;}
.cal_cont_wp .txt_box {width: calc(100% - 570px);padding-left: 30px;}
.cal_cont_wp .txt_box .tit {font-size: 1.75rem;font-weight: 500;}
.cal_cont_wp .txt_box .place {padding: 10px 0;}

.cal_cont_wp .img_box {width: 400px;padding: 32px;}

/* .in_box_l .cal_txt_wp {margin-top: 2rem;padding: 0 30px;}
.cal_txt_wp .item .tit {font-size: 1.75rem;font-weight: 500;}
.cal_txt_wp .item .place {padding: 10px 0;}

.cal_hfct .in_box_r {width: 400px;padding: 32px;} */




/* 재단일정 - 뷰 */
.pro_view_wp .view_hd .img_box {padding: 20px;box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);width: 440px;}
.pro_view_wp .view_hd .text_box {padding-left: 70px;}
.pro_view_wp .view_hd .tag span{padding: 5px 10px;background: #272760;color: #fff;font-size: 0.75rem;border-radius: 3px;}
.pro_view_wp .view_hd .pro_tit {font-size: 1.75rem;font-weight: 600;padding: 10px 0 20px;}
.pro_view_wp .view_hd .cont {padding-bottom: 30px;}
.pro_view_wp .view_hd .info li {display: flex;}
.pro_view_wp .view_hd .info li > div {padding: 7px 10px;}
.pro_view_wp .view_hd .info .tit {min-width: 110px;background: rgba(39, 39, 96, .05);margin-right: 16px;}
.pro_view_wp .view_hd .info .file_dw {padding-right: 30px;position: relative;}
.pro_view_wp .view_hd .info .file_dw::after {content: '';display: block;width: 24px;height: 24px;position: absolute;top: 0;right: 0;background: url(../img/file_dw.png) no-repeat center rgba(39, 39, 96, .05);border: 1px solid rgba(39, 39, 96, .1);}

.pro_view_wp .view_hd .info .txt a + a {margin-left: 10px;}


.bo_btn {padding: 50px 0 0;}
.bo_btn a {font-weight: 600;}
.bo_btn .bg_lred {color: #fff;}

/* 재단일정 - 폼 */
.required {position: relative;font-size: 0;width: 14px;height: 14px;line-height: 16px;}
.required:before {content: '＊';position: absolute;top: -2px;left: 0;width: 14px;height: 14px;display: block;color: #e91313;font-size: 1rem;font-weight: 700;}
.bo_form_tb {margin: 14px 0;}
.bo_form_tb th {padding: 10px;text-align: center;background: rgba(39, 39, 96, .05);}
.bo_form_tb td {padding: 10px 0 10px 15px;}
.bo_form_tb .add_file li + li {margin-top:5px}
.bo_form_tb .ev_content {min-height: 250px;}


/* 게시판 - 검색 */
.board_search {justify-content: space-between;align-items: center;}
.board_search .search_form {display: flex;}
.board_search .search_form input {border-radius: 0;}
.board_search .search_form select {border-radius: 0;}
.board_search .search_form button {border-radius: 0;}
.board_search .search_form .search_input_wrap {margin-left: 10px;}

/* 문화예술행사 - 리스트 */
.pg_list_wp {padding-top: 20px;}
.pg_list {display: flex;flex-wrap: wrap;margin: -8px -16px 0;}
.pg_list > li {position: relative; width: calc((100% - 64px) / 2);margin: 16px;border: 2px solid transparent;transition: all .2s ease-in-out;overflow: hidden;box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);}
.pg_list > li:hover {border: 2px solid #0cffe1;box-shadow: 0 8px 24px 0 rgba(12, 255, 255, 0.1);}
.pg_list > li > a {display: block;padding: 20px;width: 100%;transition: all 0.5s ease;}
.pg_list .in_box .img_box {width: 250px;}
.pg_list .in_box .cont {width: calc(100% - 250px);padding-left: 20px;}
.pg_list .cont .attach .tag{padding: 5px 10px;background: #272760;color: #fff;font-size: 0.75rem;border-radius: 3px;}
.pg_list .cont .pg_tit {font-size: 1.75rem;font-weight: 600;padding: 10px 0 20px;}
.pg_list .cont .info_list li {padding-right: 10px;}
.pg_list .cont .info_list li + li {margin-top: 5px;}
.pg_list .cont .info_list span {font-size:0.938rem}
.pg_list .cont .info_list span.tit {margin-right: 5px;font-weight: 600;padding-right: 7px;position: relative;}
.pg_list .cont .info_list span.tit::after {content: '';display: block;width: 1px;height: 12px;background: rgba(39, 39, 96, .5);position: absolute;top: 5px;right: 0;}

/* 문화예술행사 - 뷰 */
.view_bd {margin-top: 40px;border-top: 1px solid rgba(39, 39, 96, .5);border-bottom: 1px solid rgba(39, 39, 96, .5);padding-bottom: 30px}

.bo_form_tb .pg_content {min-height: 250px;}
.bo_form_tb .pg_short_txt {min-height: 90px;}



/* 페이징 */
.pagination {padding-top: 50px;}
.pagination > ul {justify-content: center;}
.pagination li + li {margin-left: 4px;}
.pagination a {display: inline-block;vertical-align: middle;text-align: center;line-height: 40px;width: 40px;height: 40px;font-weight: 600;border: 1px solid #E2E4E9;}
.pagination .ico{font-size:0;background:url('../img/bo_pg_ir.png') no-repeat 10px 10px #f6f8fa;border:0}
.pagination .ico.prev{background-position:-18px 10px}
.pagination .ico.next{background-position:-56px 10px}
.pagination .ico.last{background-position:-85px 10px}
.pagination a.active{background:#272760;color:#fff;font-weight:700;border-color:#1D2939}
.pagination a:not(.active):hover{background-color:#f0f0f0;}


/* 프로그램 - 리스트 */
/* .edu_list {display: flex;flex-wrap: wrap;margin: 0px -36px 0;}
.edu_list > li {position: relative; width: calc((100% - 216px) / 3);margin: 36px;overflow: hidden;border-bottom: 2px solid #272760;padding-bottom: 30px;}
.edu_list > li a {width: 100%;display: block;}
.edu_list .img_box {position: relative;overflow: hidden;}
.edu_list .img_box img {transition: all .3s;}
.edu_list .img_box .state {color: #fff;min-width: 60px;font-size: 0.875rem;padding: 5px 0;position: absolute;top: 16px;right: 10px;text-align: center;border-radius: 4px;}
.edu_list .img_box .state.st1 {background: #039855;}
.edu_list .img_box .state.st2 {background: #6d6d6d;}

.edu_list .cont {margin-top: 35px;padding-left: 16px;}
.edu_list .cont .tag {opacity: .7;font-size: 0.875rem;}
.edu_list .cont .pg_tit {font-size: 1.563rem;}
.edu_list .cont .pg_tit {background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgba(12, 255, 255, .25), rgba(12, 255, 255, .25));background-size: 100% 15px, 0 15px;background-position: 100% 100%, 0 100%;background-repeat: no-repeat;transition: background-size 0.3s linear;display: inline;}
.edu_list .cont .t3 {font-size: 1rem;}
.edu_list a:hover img {transform: scale(1.1);}
.edu_list a:hover .pg_tit {background-size: 0 15px, 100% 15px;}

.edu_list .info_list .tit {margin-right: 5px;font-weight: 600;padding-right: 7px;position: relative;}
.edu_list .info_list .tit::after {content: '';display: block;width: 1px;height: 12px;background: rgba(39, 39, 96, .5);position: absolute;top: 5px;right: 0;} */

/* 프로그램 - 탭 */
.tab_box {margin-bottom: 72px;animation: up .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.tab_box .tab_nav {display: flex;border-bottom: 1px solid #272760;}
.tab_box .tab_nav li {min-width:130px;position: relative;text-align: center;}
.tab_box .tab_nav li + li::before {content: '';display: block;width: 1px;height: 16px;background: rgba(39, 39, 96, .5);position: absolute;top: 50%;transform: translateY(-50%);left: -1px;}
.tab_box .tab_nav li.on {border: 1px solid #272760;border-bottom-color: #fff;}
.tab_box .tab_nav li.on::after {content: '';display:block;width: 100%;height: 1px;background: #fff;position: absolute;bottom: -2px;left: 0;z-index: 1;}
.tab_box .tab_nav li a {position: relative;padding: 10px 0;width: 100%;display: block;color: #525866;}
.tab_box .tab_nav li a:hover {color: #272760;font-weight: 600;}
.tab_box .tab_nav li.on a {color: #0A0D14;font-weight: 700;}
/* .tab_box .tab_nav li.on a:after {content: '';position: absolute;bottom: -3px;left: 50%;transform: translateX(-50%); width: 80%;height: 5px;background:rgba(12, 255, 255, .25);z-index: 2;} */


/* 프로그램 - 리스트 wide_ver */
.edu_list > li {display: flex;border-bottom: 1px dashed rgba(39, 39, 96, .2);padding-bottom: 40px;position: relative;}
.edu_list > li + li {padding-top: 45px;}
.edu_list li .img_box {width: 250px;}
.edu_list li .cont {width: calc(100% - 250px); padding-left: 36px;}
.edu_list li .cont .pg_tit {font-size: 1.75rem;font-weight: 600;padding: 10px 0 20px;}
.edu_list li .attach span {padding: 5px 10px;background: #272760;color: #fff;font-size: 0.75rem;border-radius: 3px;font-weight: 600;}
.edu_list li .attach span + span {margin-left: 5px;}
/* .edu_list li .attach span.st1{background-color:#fff1f0;color:#D92D20;}
.edu_list li .attach span.st2{background-color:#eee;color:#888;}
.edu_list li .attach span.st3{background-color:#fff1f0;color:#D92D20;} */
.edu_list li .attach span.st1{background-color:#CBF5E5;color:#2D9F75;}
/* .edu_list li .attach span.st3{background-color:#375DFB;color:#fff;} */
.edu_list li .attach span.st2{background-color:#eee;color:#888;}
.edu_list li .attach span.st3{background-color:#fff1f0;color:#D92D20;}

.my_edu_list .bo_table .state span.aps_1{background-color: #CBF5E5;color: #2D9F75;}
.my_edu_list .bo_table .state span.aps_1{background-color:#CBF5E5;color:#2D9F75;}
.my_edu_list .bo_table .state span.aps_2{background-color:#272760;color:#fff;}
.my_edu_list .bo_table .state span.aps_3{background-color:#eee;color:#888;}
.my_edu_list .bo_table .state span.aps_4{background-color:#fff1f0;color:#D92D20;}

.edu_list li .info_list span.tit {margin-right: 10px;font-weight: 600;padding-right: 10px;position: relative;min-width: 75px;}
.edu_list li .info_list span.tit::after {content: '';display: block;width: 1px;height: 12px; background: rgba(39, 39, 96, .5);position: absolute;top: 5px;right: 0;}
.edu_list li .info_list li + li {margin-top: 5px;}
.edu_list li .btn_box {position: absolute;right: 0;bottom: 40px;}

.edu_list .cont .pg_tit a {background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgba(12, 255, 255, .25), rgba(12, 255, 255, .25));background-size: 100% 15px, 0 15px;background-position: 100% 100%, 0 100%;background-repeat: no-repeat;transition: background-size 0.3s linear;display: inline;}
.edu_list .cont .pg_tit a:hover {background-size: 0 15px, 100% 15px;}


/* 프로그램 - 뷰 */
.pro_view_wp .view_hd .tag span + span {margin-left: 7px;}
.pro_view_wp .view_hd .tag span.st1 {background: #039855;}
.pro_view_wp .view_hd .tag span.st2 {background: #6d6d6d;}
.pro_view_wp .btn_box .app_btn {min-width: 105px;}

.add_file{padding:20px 0 30px;border-bottom: 1px solid rgba(39, 39, 96, .5);}
.add_file .filelist{margin-top:10px;min-height:44px;background:#f9f9f9;}
.add_file .filelist a{position:relative;display:block;min-height:44px;padding:16px 30px 16px 52px;margin-top:-1px;background:#f9f9f9;font-size:14px;color:#296aac;border:1px solid #eee}
.add_file .filelist a:before{content:"";position:absolute;left:30px;top:15px;display:inline-block;;width:16px;height:18px;background:url('../img/file_dw.png') no-repeat center;opacity: .7;}
.add_file .filelist span{display:block;min-height:44px;padding:16px 30px 16px 16px;margin-top:-1px;background:#f9f9f9;font-size:14px;color:#777;border:1px solid #eee}

/* 로그인 */
.log_wrap {width: 100%;border: 6px solid #f4f4f4;padding: 50px 30px 20px 30px;border-radius: 3px;}
.log_wrap .text_box {text-align: center;}
.log_wrap .text_box .tit {font-size: 1.563em;text-align: center;margin-bottom: 10px;}

.log_wrap .log_btn {text-align: center;}
.log_wp {margin-top: 50px;}
.log_wp .input {text-align: center;margin-bottom: 10px;}
.log_wp input {width: 300px;border-radius: 3px;text-align: center;}
.log_btn input {background-color: #272760;color: #fff;transition: all .3s;border: none;}
.log_wp input[type="submit"]:hover {background:rgba(12, 255, 255, .25);color: #272760;}


.log_wrap .login_noti {border-top: 1px dashed #ddd;padding-top: 20px;font-size: 0.875em;margin-top: 40px;}
.log_wrap .login_noti .ico_excl {font-weight: 600;padding-left: 25px;position: relative;margin-bottom: 5px;}
.log_wrap .login_noti .ico_excl::after {content: '!';display: block;width: 15px;height: 15px;border: 2px solid #7b7b7b;font-weight: 700;text-align: center;line-height: 15px;border-radius: 50%;position: absolute;left: 0;top: 0px;font-size: 0.875em;}
.log_wrap .login_noti .add_dot {padding-left: 25px;position: relative;}
.log_wrap .login_noti .add_dot::after {content: '';display: block;width: 3px;height: 3px;background-color: #7b7b7b;position: absolute;top: 9px;left: 8px;}

/* 나의 프로그램 */
.my_edu .edu_count {width: 100%;padding: 16px;margin-bottom: 24px;border-radius: 5px;background: #F6F8FA;}
.my_edu_list .bo_table .edu_tit {font-weight: 600;width: 35%;}
.my_edu_list .bo_table .num {width: 5%;}
.my_edu_list .bo_table .edu_period {width: 25%;}
.my_edu_list .bo_table .app_day {width: 15%;}
.my_edu_list .bo_table .state {width: 10%;}
.my_edu_list .bo_table .re_btn {width: 10%;}

.my_edu_list .bo_table .state span {padding: 7px 12px;font-size: 0.875rem;vertical-align: middle;font-weight: 700;border-radius: 3px;}
.my_edu_list .bo_table .state span.aps_1 {background-color: #CBF5E5;color: #2D9F75;}
.my_edu_list .bo_table .state span.aps_1 {background-color:#CBF5E5;color:#2D9F75;}
.my_edu_list .bo_table .state span.aps_2{background-color:#272760;color:#fff;}
.my_edu_list .bo_table .state span.aps_3{background-color:#eee;color:#888;}
.my_edu_list .bo_table .state span.aps_4{background-color:#fff1f0;color:#D92D20;}

.my_edu_list .bo_table .re_btn a {padding: 7px 12px;font-size: 0.875rem;vertical-align: middle;font-weight: 600;border-radius: 3px;border: 1px solid rgba(39, 39, 96, .2);}
.my_edu_list .bo_table .re_btn a:hover {border-color: #272760;}











