@charset "UTF-8";

@media screen and (min-width: 1930px) and (max-width: 2560px) {
	.in_wrap {max-width: 1540px;width: 100%;margin: 0 auto;}
	.main_container .section {width: 100%;height: auto;}
}

@media (max-width: 1700px){
	.gnb_r {right: -55px;}
	.global_quick {display:none;}
	.moVer_quick {display:block;}
	.loca_nav {bottom:120px;}
}

@media (max-width: 1700px){
	.gnb_r {right: -55px;}
	.global_quick {display:none;}
	.moVer_quick {display:block;}
	.loca_nav {bottom:120px;}
}

@media (max-width: 1400px){
	/* 기본 */
	body,html{font-size:15px;
	  -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
	  -ms-text-size-adjust : none;  /* IE */
	  -moz-text-size-adjust : none;  /* 파이어폭스 */
	  -o-text-size-adjust : none;  /* 오페라 구버전 */
	}
	.inner{width:100%;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}	
	.loca_nav{right:16px;bottom:16px;}
	#footer > .inner{padding-right:1.25rem;padding-left:1.25rem;}

	/* 기본 */
	#header{height:80px;}
	#header #mMenu{display:block;}
	#gnb,.tnb{display:none;}
	#sub_area{word-break:break-all;}

	.logo_area h1 {left:1.25rem;}

	/* 메인 */
	.main_sec1 .right_wr {padding-left:0;padding-top:4rem;}
	.main_business .con_box.gal_type .img_box {height:auto;}
	.main_pro .pro_list.col_4 li a {padding: 0 16px;}
	.main_newsletter .dp_flex {justify-content: end;}
	.subscribe {margin-right: 9rem;}
	.main_banner .sec_title {left: 1rem;}

	/* 레이어팝업창 */
	.layerpopup{max-width:98%}
	.layerpopup .popup_img{width:100% !important;height:auto !important;}

	/* 레이어팝업 */
	.layer_pop_wp .layer_con{width:90%;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}	
	.layer_pop_wp .layer_pop_close{right:20px}
	.layer_pop_wp{padding:24px;}
	.layer_pop_wp .layer_flex{width:100%}
}

@media (max-width: 1200px){
	/* 기본 */
	#header{height:80px;}
	.logo_area img{height:40px}
	#header #mMenu{display:block;}
	#gnb,.tnb{display:none;}
	#sub_area{word-break:break-all;}

	/* 메인 */
	.main_vsual_wp.inner {padding-right: 0;padding-left: 0;}
	.main_container .section {height: auto;}
	.visual_wrap {height:auto;}
	.main_v_sd .item {height: auto;}
	.visual_wrap .slick-nav a {bottom:250px}

	.main_container .section.adp_t {padding-top: 50px;}
	.main_sec1 {padding: 0;}
	.main_sec1 .left_wr {padding-left: 0;width: 360px;}
	.main_sec1 .right_wr {width: calc(100% - 360px);}
	.main_sec1 .right_wr .gal_type {width: 50%;padding: 0 16px;}

	.main_pro .pro_list.col_4 li {width: 25%;}

	/* 서브 */
	#svisualLayout:before{left:-320px}
	#svisualLayout:after{right:-320px}

}

@media (max-width: 1140px){
	/* 메인 */
	.main_sec2 {padding: 3.75rem 0 3.75rem;}
	.main_business .con_box.gal_type a {padding: 0 16px;}
	.main_newsletter {margin-top: 80px;}
	.subscribe {padding: 40px 10px;}

	/* 서브 */
	.sec_leftbox{flex-wrap:wrap;}
	.sec_leftbox .tit_box{width:100%;margin-bottom:24px;}
	.sec_leftbox .con_box{width:100%;padding-left:0;}

	.snb_0201_wp li{width: calc((100% - 32px) / 4);}
	.sub0203 .top_box .step_ul li{width:calc((100% - 72px) / 3);}


}

@media (max-width: 990px){

	/* 기본 */
	#header{height:72px;}
	#header #mMenu{top:0}
	.logo_area h1{padding-top:16px;}

	/* 푸터 */
	.f_menu_wp {flex-wrap: wrap;}
	.f_menu_wp .f_logo {margin-bottom: 25px;}
	.f_menu_wp .f_logo img {height: 50px;}


	/* 레이어팝업창 */
	.layerpopup{width:96%;left:2% !important;}

	/* 서브기본 */
	.table_wp {width: 100%;overflow-x:scroll;margin-bottom:30px}
	.table_wp table {width:1020px;}
	.table_wp .notice{display:block;padding:10px;background:#fff8f7;color:#f44336;border-radius:4px;margin-bottom:4px;} 
	.table_wp table td,	.table_wp table th{word-break:break-all}

	#snb .snb{flex-wrap:wrap;}
	#snb .snb li{flex:unset;width:calc(100% / 5);border-bottom: 1px solid #E2E4E9;}
	#snb .snb li:nth-child(5n) a{border-right:0}
	#snb .snb li:last-child a{border-right:1px solid #E2E4E9}

	.snb_dep3 ul{overflow-x:auto;white-space:nowrap;display:block;}
	.snb_dep3 ul li{display:inline-block;}

	/* 서브 */
	.history .pg_tabcon,
	.sub_01.sub_0102 .sec4 .sub0201_04_bg{background:none;}
	.pg_tab{flex-wrap:wrap;}
	.pg_tab a{margin-bottom:8px}

}

@media (max-width: 768px){
	/* 기본 */
	select,input{font-size:.875rem;margin-top:2px;margin-bottom:2px;}
	select{min-width:42px;padding:8px 18px 8px 8px;background-position:right 5px center}
	#footer .foot_bottom .foot_b_l,
	#footer > .inner{flex-wrap:wrap}
	#footer .foot_bottom .foot_b_l .txt_box{margin:16px 0 24px;margin-left:0;}

	/* 메인 */
	.main_sec1 .in_wrap.dp_flex {flex-wrap: wrap;}
	.main_sec1 .left_wr {width: 100%;max-width: 100%;}
	.main_sec1 .right_wr {width: 100%;}
	.main_business {overflow-x: scroll;}
	.main_business .scl_x {width: 200%;}
	.main_sec3 {padding-top: 0;}
	.main_pro {overflow-x: scroll;}
	.main_pro .pro_list {justify-content: start;width: 200%;}
	.main_pro .pro_list.col_4 li {width: 25%;}

	.main_business {padding-bottom: 15px;}
	.main_business::-webkit-scrollbar {width: 5px; }
	.main_business::-webkit-scrollbar-thumb {height: 5px;background: rgba(12, 255, 255, .25);border-radius: 3px;border: 5px solid #F4F6F8;}
	.main_business::-webkit-scrollbar-track {background: #f6f8fb;}

	.main_pro {padding-bottom: 15px;}
	.main_pro::-webkit-scrollbar {width: 5px; }
	.main_pro::-webkit-scrollbar-thumb {height: 5px;background: rgba(12, 255, 255, .25);border-radius: 3px;border: 5px solid #fbfbfb;}
	.main_pro::-webkit-scrollbar-track {background: #fbfbfb;}

	/*푸터*/
	.f_menu_wp .fnb {width: 100%;}
	.f_menu_wp .fnb_dep1 {justify-content: space-between;}
	.f_menu_wp .fnb_dep1 > li {width: calc(100% / 6);margin-right: 1rem;}

	/* 서브 */
	#svisualLayout:before{left:-420px}
	#svisualLayout:after{right:-480px}

	#pg_satisfaction .radio_gp_wp label,
	#pg_satisfaction .u_s_tit,
	#pg_satisfaction .radio_gp_wp ul{display: flex;flex-wrap: wrap;}
	#pg_satisfaction .u_s_tit .call_info{margin-top:16px;}
	#pg_satisfaction .radio_gp_wp label:before{display:block;margin:0 4px;margin-bottom:4px;}
	#pg_satisfaction .radio_gp_wp ul li {width:calc(100% / 3)}
	#pg_satisfaction .radio_gp_wp ul li + li{margin:4px 0}	

	.table_wp table {width:780px;}
	.sitemap_list > li{width:calc((100% - 48px) / 2);}

}

@media (max-width: 720px){
	/* 기본 */
	/* #footer .foot_top .inner{flex-wrap:wrap;}
	#footer .foot_top .foot_t_l ul{flex-wrap:wrap;width:100%;justify-content: space-between;}
	#footer .foot_t_l{width:100%;}
	#footer .foot_top .foot_t_l ul > li{width:calc((100% - 24px) / 4);border:1px solid #91949b;border-radius:8px;}
	#footer .foot_top .foot_t_l ul > li:not(:first-child){padding-left:0;margin-left:0}
	#footer .foot_top .foot_t_l ul > li:not(:first-child):before{display:none;}
	#footer .foot_top .foot_t_l ul > li a{display: flex;padding:12px 8px;margin:2px;text-align:center;word-break: break-all;align-items: center;justify-content: center;font-size:.875rem;height:100%;}
	#footer .foot_top .related_site {margin-top:8px;width:100%}
	#footer .related_site ul{width:100%} */

	/* 메인 */
	/* .main_v_sd .item{height:350px}
	.main_v_sd .item img {width: 100%;height: 100%;} */


	.main_sec1 .tab_cont li a{align-items:normal;padding:8px 0}
	.main_sec1 .bo_tit{width: 100%;height:auto;margin:4px 0;font-size:1.05rem;line-height:1.4rem;padding: 0;}
	.main_sec1 .sec_wp .main_event_wp{width:100%;}
	.main_sec1 .sec_wp .main_event_wp .item{padding:20px;}

	.main_sec2{padding-top:32px}
	.main_sec2 .sec_wp > *{width:calc((100% - 16px) / 2);margin-top:40px}
	.main_sec3 .map_con{flex-wrap:wrap;height:auto;}
	.main_sec3 .map_wp{width:100%}
	.main_sec3 .map_con .links{width:100%;display:flex;flex-wrap:wrap;justify-content: space-between;}
	.main_sec3 .map_con .links li{height:auto;width:calc((100% - 16px) / 2)}
	.main_sec3 .map_con .links li a{padding:8px;    font-size: .875rem;}
	.main_sec3 .map_con .links li a:after{width:16px;height:16px;margin-top:-8px;background-position:-350px -6px;}
	.main_sec3 .info_links .links li{width:calc(100% / 4)}
	.main_sec3 .info_links .links li:nth-child(5n){border-right:1px solid #E4EAF8}
	.main_sec3 .info_links .links li:nth-child(4n){border-right:0}

	/* 서브기본 */
	#snb .snb a{height:48px;padding:6px 8px;font-size:0.938rem;line-height:1rem;word-break:break-word;}	
	.snb_0201_wp li{width:calc((100% - 24px) / 3);}

}

@media (max-width: 620px){
	/* 기본 */
	.f_menu_wp .fnb {overflow: hidden;overflow-x: scroll;}
	.f_menu_wp .fnb_dep1 {width: 200%;}

	.f_menu_wp .fnb {padding-bottom: 15px;}
	.f_menu_wp .fnb::-webkit-scrollbar {width: 5px; }
	.f_menu_wp .fnb::-webkit-scrollbar-thumb {height: 5px;background: rgba(12, 255, 255, .25);border-radius: 3px;border: 5px solid #272760;}
	.f_menu_wp .fnb::-webkit-scrollbar-track {background: #272760;}

	/* 메인 */
	.main_container .section.adp_t {padding-top: 30px;}

	/* 서브기본 */
	#pg_satisfaction .user_opinion,
	#pg_satisfaction .u_s_tit{padding:24px 24px 16px;}
	#pg_satisfaction .radio_gp_wp{padding:0px 24px 16px;}
	#pg_satisfaction .user_opinion{flex-wrap:wrap;}
	#pg_satisfaction .user_opinion textarea{width:100%;height:52px;margin-right:0;margin-bottom:6px;}
	#pg_satisfaction .user_opinion .btn{width:100%}

	#snb .snb li{width:calc(100% / 3);}
	#snb .snb li:nth-child(3n) a{border-right:0}
	#snb .snb li:nth-child(5n) a{border-right:1px solid #E2E4E9}

}

@media (max-width: 540px){
	/* 기본 */
	.h1{font-size:2.5rem;line-height:3.25rem;} /* 40px */
	.h2{font-size:2.25rem;line-height:2.925rem;}/* 36px */
	.h3{font-size:2rem;line-height:2.6rem;}/* 32px */
	.h4{font-size:1.75rem;line-height:2.275rem;}/* 28px */
	.h5{font-size:1.5rem;line-height:1.95rem;}/* 24px */
	.h6{font-size:1.25rem;line-height:1.75rem;}/* 20px */

	.stit_1{font-size:1.125rem;line-height:1.688rem;}/* 18px */
	.stit_2{font-size:1.063rem;line-height:1.588rem;}/* 17px */
	.stit_3{font-size:1rem;line-height:1.5rem;}/* 16px */

	.body_1{font-size:0.938rem;line-height:1.38rem;}/* 15px */
	.body_2{font-size:0.875rem;line-height:1.313rem;}/* 14px */
	.body_3{font-size:0.813rem;line-height:1.313rem;}/* 13px */

	.caption{font-size:0.75rem;line-height:1.125rem;}/* 12px */

	.f_info_wp {padding-bottom: 70px;}
	.f_info_wp .sns_box {right: auto;left: 0;}

	/* 메인 */
	.main_vsual_wp {padding-top: 75px;}
	.visual_wrap .slick-nav a {bottom: 130px;}
	.visual_wrap .slick-nav a.slick-prev, .visual_wrap .slick-nav a.slick-next {width: 40px;height: 40px;background-size: 100%;}
	.main_newsletter .dp_flex {justify-content: center;}
	.subscribe {margin-right: 0;}

	.main_banner .sec_title {top: -45px;left: 28px;}
	.main_banner {padding: 100px 0 60px;}
	.main_ban_wp {padding: 0 115px 0 0px;}

	/* 서브기본 */
	#svisualLayout:before{left:-560px}
	#svisualLayout:after{right:-600px}
	#pg_satisfaction .radio_gp_wp ul li{width:calc(100% / 2);}
	.table_wp table {width:620px;}
	.basic_tb thead th,.basic_tb tbody td,.basic_tb tbody th,
	.custom_tb thead th,.custom_tb tbody td, .custom_tb tbody th{padding:10px 8px;}
	.breadcrumb{width:100%;margin-top:12px}
	.snb_0201_wp li{width:calc((100% - 16px) / 2);}

	/* 서브 */
	.sub_tit_wp{flex-wrap:wrap;}
	.sitemap_list > li{width:100% !important}

}

@media (max-width: 490px){
	
	/* 메인 */
	.main_sec .sec_wp{margin-top:32px}
	.main_container .section.adp_t {padding-top: 30px;}
	.main_sec1 .right_wr {overflow: hidden;overflow-x: scroll;}
	.main_sec1 .right_wr .scr_x {width: 150%;}
	.main_ban_wp {padding: 0;}
	.main_ban_wp .slick-controls {top: -60px;right:8px;}

}

@media (max-width: 420px){
	/* 메인 */
	.visual_wrap .slick-nav a {bottom: 100px;}
	.main_sec1 .now_event {padding: 40px 20px;}
	.main_business .scl_x {width: 300%;}
	.main_pro .pro_list {width: 340%;}
	.subscribe::before {display: none;}
	.subscribe {width: 100%;padding: 40px 20px;}

}

@media (max-width:380px){
	/* 메인 */
	.now_event .event_list {padding-left: 0;}
	.now_event .event_list .item .text_box {padding-left: 16px;}
	.main_sec2 .btn_box .btn_more, .main_sec3 .btn_box .btn_more {width: 100%;}
}