@charset "UTF-8";
@media (max-width: 1700px){
	.gnb_r {right: -55px;}
	.global_quick {display:none;}
	.moVer_quick {display:block;}
	.loca_nav {bottom:120px;}
}

@media (max-width: 1400px){
	/* 기본 */
	body,html{font-size:15px;
	  -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
	  -ms-text-size-adjust : none;  /* IE */
	  -moz-text-size-adjust : none;  /* 파이어폭스 */
	  -o-text-size-adjust : none;  /* 오페라 구버전 */
	}		
	.inner{width:100%;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}	
	.loca_nav{right:16px;bottom:16px;}
	#footer > .inner{padding-right:1.25rem;padding-left:1.25rem;}

	
	/* 기본 */
	#header{height:80px;}
	#header #mMenu{display:block;}
	#gnb,.tnb{display:none;}	
	#sub_area{word-break:break-all;}

	.logo_area h1 {left:1.25rem;}

	/* 메인 */
	.main_sec2 .right_wr {padding-left:0;padding-top:4rem;}
	.main_business .con_box.gal_type .img_box {height:auto;}

	/* 레이어팝업창 */
	.layerpopup{max-width:98%}
	.layerpopup .popup_img{width:100% !important;height:auto !important;}

	/* 레이어팝업 */
	.layer_pop_wp .layer_con{width:90%;padding-right:1.25rem;padding-left:1.25rem; margin:0 auto; box-sizing:border-box}	
	.layer_pop_wp .layer_pop_close{right:20px}
	.layer_pop_wp{padding:24px;}
	.layer_pop_wp .layer_flex{width:100%}	
}

@media (max-width: 1200px){
	/* 기본 */
	#header{height:80px;}
	.logo_area img{height:40px}
	#header #mMenu{display:block;}
	#gnb,.tnb{display:none;}	
	#sub_area{word-break:break-all;}
	
	/* 메인 */
	.main_sec1 .tab_cont > ul{flex-wrap:wrap;box-shadow:unset;}
	.main_sec1 .tab_cont li{width:calc(50% - 8px);flex:unset;padding:12px 16px 0;border:1px solid #ddd;border-radius:8px !important;margin:4px;}
	.main_sec1 .tab_cont li a{display:flex;flex-wrap:wrap;}
	.main_sec1 .tab_cont .tag{height:24px;width:36px;padding:4px 8px;margin-bottom:0;}
	.main_sec1 .bo_tit{width:calc(100% - 36px);padding-left:12px;height:3.2rem;}
	.main_sec1 .tab_cont li a .date{position:relative;margin-top:2px;width:100%;padding-left:48px;}
	.main_sec .sec_wp{flex-wrap: wrap;}
	.main_sec3 .sec_wp > *{width:100%}
	.main_sec3 .info_links{margin-top:40px}
	
	/* 서브 */
	#svisualLayout:before{left:-320px}
	#svisualLayout:after{right:-320px}
	
	/* 정신건강정보 */
	.sub_01.sub_0110 .sec4 .tit_listbox li{width:calc((100% - 48px) / 2);}
}

@media (max-width: 1140px){
	/* 메인 */
	.main_sec2 .sec_wp > *{width:calc((100% - 64px) / 4)}
	.main_sec2 .sec_wp > *:last-child{width:100%;margin-top:40px}
	.main_sec2 .main_gall_wp .item .img_box{height:166px;}

	/* 서브 */
	.sec_leftbox{flex-wrap:wrap;}
	.sec_leftbox .tit_box{width:100%;margin-bottom:24px;}
	.sec_leftbox .con_box{width:100%;padding-left:0;}

	.snb_0201_wp li{width: calc((100% - 32px) / 4);}
	.sub0203 .top_box .step_ul li{width:calc((100% - 72px) / 3);}
	
	/* 센터소개 */
	.greeting,.location .loca_top{flex-wrap:wrap;}
	.greeting .l_box{padding-bottom:40px;background-position:right top}
	.greeting > *{width:100% !important;}
	.location .loca_top > *{width:50% !important;}	
	.sitemap_list > li{width:calc((100% - 72px) / 3);}

	.org_list{width:100%;}
	.org_list .org_item{width:210px;padding:16px 8px;font-size:1rem;line-height:1.5rem;}
	.org_list .org_st0{width:210px;height:210px}
	.org_list:before{height:100%;}
	.org_b ul:before{left:105px;width:calc(100% - 210px);}
	.org_c{background:#fff;}
	.org_c .org_item{margin-left:-105px;}
	.org_list .org_item_s{padding:16px 8px;font-size:1rem;line-height:1.5rem;}

	.mivision .sec3 .sec_col_s.col_5 > *{width:calc((100% - 48px) / 3);}

}

@media (max-width: 990px){
	
	/* 기본 */
	#header{height:72px;}	
	#header #mMenu{top:0}
	.logo_area h1{padding-top:16px;}

	/* 메인 */
	.main_sec1 .tab_cont li{width:100%;padding:4px 12px}
	.main_sec1 .tab_cont li a{align-items:center;}
	.main_sec1 .bo_tit{width:calc(100% - 112px);-webkit-line-clamp:1;height:1.6rem;}
	.main_sec1 .tab_cont li a .date{width:72px;margin-top:0;padding-left:0}

	/* 레이어팝업창 */
	.layerpopup{width:96%;left:2% !important;}
	
	/* 서브기본 */
	.table_wp {width: 100%;overflow-x:scroll;margin-bottom:30px}  
	.table_wp table {width:1020px;}
	.table_wp .notice{display:block;padding:10px;background:#fff8f7;color:#f44336;border-radius:4px;margin-bottom:4px;} 
	.table_wp table td,	.table_wp table th{word-break:break-all}
	
	#snb .snb{flex-wrap:wrap;}
	#snb .snb li{flex:unset;width:calc(100% / 5);border-bottom: 1px solid #E2E4E9;}
	#snb .snb li:nth-child(5n) a{border-right:0}
	#snb .snb li:last-child a{border-right:1px solid #E2E4E9}
	
	.snb_dep3 ul{overflow-x:auto;white-space:nowrap;display:block;}	
	.snb_dep3 ul li{display:inline-block;}
	
	/* 서브 */	
	.history .pg_tabcon,
	.sub_01.sub_0102 .sec4 .sub0201_04_bg{background:none;}
	.pg_tab{flex-wrap:wrap;}
	.pg_tab a{margin-bottom:8px}	

	 
}

@media (max-width: 768px){
	/* 기본 */
	select,input{font-size:.875rem;margin-top:2px;margin-bottom:2px;}
	select{min-width:42px;padding:8px 18px 8px 8px;background-position:right 5px center}	
	#footer .foot_bottom .foot_b_l,
	#footer > .inner{flex-wrap:wrap}
	#footer .foot_bottom .foot_b_l .txt_box{margin:16px 0 24px;margin-left:0;}

	/* 메인 */
	.main_event_wp .m_event{box-shadow:unset}
	
	/* 서브 */
	#svisualLayout:before{left:-420px}
	#svisualLayout:after{right:-480px}

	#pg_satisfaction .radio_gp_wp label,
	#pg_satisfaction .u_s_tit,
	#pg_satisfaction .radio_gp_wp ul{display: flex;flex-wrap: wrap;}
	#pg_satisfaction .u_s_tit .call_info{margin-top:16px;}
	#pg_satisfaction .radio_gp_wp label:before{display:block;margin:0 4px;margin-bottom:4px;}
	#pg_satisfaction .radio_gp_wp ul li {width:calc(100% / 3)}
	#pg_satisfaction .radio_gp_wp ul li + li{margin:4px 0}	

	.table_wp table {width:780px;}
	.sitemap_list > li{width:calc((100% - 48px) / 2);}
	
	/* 정신건강정보 */
	.sub_01 .sec_img{flex-wrap:wrap;}	
	.sub_01 .sec_img .text_box{width:100%;padding-left:0;}
	.sub_01 .sec_col > *,
	.sub_01 .sec_img .img_box{width:100%}	
	.sub_01 .sec_col_s.col_4 > *{width:calc((100% - 32px) / 2);}

	/* 센터소개 */
	.business_intro .row_step:before{left:50%}
	.business_intro .row_step > li{padding-left:0;}
	.business_intro .row_step > li .year{position:relative;left:50%;margin-left:-80px;margin-bottom:32px;}
	.business_intro .row_step > li .step_con{overflow:hidden;}
	.business_intro .row_step > li .step_con .tit{width:100%;padding:16px;}
	.business_intro .row_step > li .step_con .con{width:100%}
	.b_intro2.sec_col li,
	.mivision .mivi_list > li .con,
	.mivision .mivi_list > li.item_3 .sec_col > li,
	.mivision .mivi_list > li.item_4 .sec_col > li{width:100%}
	.mivision .mivi_list > li .tit{width:100%;margin-right:0}
	.mivision .mivi_list > li.item_4 .img{margin-left:-20px;}
}

@media (max-width: 720px){
	/* 기본 */
	#footer .foot_top .inner{flex-wrap:wrap;}	
	#footer .foot_top .foot_t_l ul{flex-wrap:wrap;width:100%;justify-content: space-between;}
	#footer .foot_t_l{width:100%;}
	#footer .foot_top .foot_t_l ul > li{width:calc((100% - 24px) / 4);border:1px solid #91949b;border-radius:8px;}
	#footer .foot_top .foot_t_l ul > li:not(:first-child){padding-left:0;margin-left:0}
	#footer .foot_top .foot_t_l ul > li:not(:first-child):before{display:none;}
	#footer .foot_top .foot_t_l ul > li a{display: flex;padding:12px 8px;margin:2px;text-align:center;word-break: break-all;align-items: center;justify-content: center;font-size:.875rem;height:100%;}
	#footer .foot_top .related_site {margin-top:8px;width:100%}
	#footer .related_site ul{width:100%}

	/* 메인 */
	.main_v_sd .item{height:320px}
	.main_sec1 .sec_wp .main_notice{width:100%;margin-right:0;}	
	.main_sec1 .board_tabs > li{height:480px}

	.main_sec1 .tab_cont li a{align-items:normal;padding:8px 0}
	.main_sec1 .bo_tit{width: 100%;height:auto;margin:4px 0;font-size:1.05rem;line-height:1.4rem;padding: 0;}
	.main_sec1 .sec_wp .main_event_wp{width:100%;}
	.main_sec1 .sec_wp .main_event_wp .item{padding:20px;}

	.main_sec2{padding-top:32px}
	.main_sec2 .sec_wp > *{width:calc((100% - 16px) / 2);margin-top:40px}
	.main_sec3 .map_con{flex-wrap:wrap;height:auto;}
	.main_sec3 .map_wp{width:100%}
	.main_sec3 .map_con .links{width:100%;display:flex;flex-wrap:wrap;justify-content: space-between;}
	.main_sec3 .map_con .links li{height:auto;width:calc((100% - 16px) / 2)}
	.main_sec3 .map_con .links li a{padding:8px;    font-size: .875rem;}
	.main_sec3 .map_con .links li a:after{width:16px;height:16px;margin-top:-8px;background-position:-350px -6px;}
	.main_sec3 .info_links .links li{width:calc(100% / 4)}
	.main_sec3 .info_links .links li:nth-child(5n){border-right:1px solid #E4EAF8}
	.main_sec3 .info_links .links li:nth-child(4n){border-right:0}

	/* 서브기본 */
	#snb .snb a{height:48px;padding:6px 8px;font-size:0.938rem;line-height:1rem;word-break:break-word;}	
	.snb_0201_wp li{width:calc((100% - 24px) / 3);}

	/* 마음건강 */
	.sub0203 .top_box{padding:32px 16px}
	.sub0203 .top_box .step_ul li{width:100%;}
	.sub0203 .top_box .step_ul li:not(:first-child):before{top:-24px;transform:rotate(90deg);left:50%;margin-top:0;margin-left:-12px}
	.sub0203 .sec1 .box_gray{flex-wrap:wrap;padding:32px;justify-content: center;}
	.sub0203 .sec1 .box_gray .gna_wp{width:100%;padding:0;}
	.sub0203 .sec2 .box_line,.agencymap_wp .sec1{flex-wrap:wrap;}
	.sub0203 .sec2 .box_line .r_box{width:100%;padding-left:0;margin-top:32px}

	/* 정신건강기관 */
	.agencymap_wp .sec1 .l_box{width:100%;padding:32px}
	.agencymap_wp .sec1 .r_box{width:100%}
	.agencymap_wp .sec1 .area_wp{transform: scale(.9);}

	/* 정신건강통계 */	
	.satis_wp > ul.sec_col.col_3 > li{width:100%;}
	.satis_wp > ul.sec_col.col_3 > li.title_box{width:100%;order: -1;}
	.satis_wp > ul > li .num{font-size:2.125rem}
	.satis_wp > ul > li .btn{display:none;}
	
	/* 센터소개 */
	.history .pg_tabcon .tit_year{width:100%;margin-bottom:32px;}
	.history .pg_tabcon > ul{width:100%;margin-left:24px}
	
	.org_list .org_item{margin:16px auto 0;width:80%}
	.org_list .dp_flex{flex-wrap:wrap;}
	.org_list .dp_flex > *{width:100%}
	.org_b ul:before,
	.org_list .org_item_s:last-child:after,
	.org_list .org_item_s:last-child:before,
	.org_list .org_item_s:after,
	.org_list .org_item_s:before{display:none;}
	.org_b > ul{padding-top:0;}
	.org_b ul li:nth-child(2){z-index:5}
	.org_c > div{padding-top:0;width:50% !important;}
	.org_c .org_item{left:10%;}
	.org_c .org_c_r ul{padding-top:100px}
	.org_list .org_item_s{flex:unset;max-width:unset;}

	.location .loca_top > *{width:100% !important;}
}

@media (max-width: 620px){
	/* 메인 */
	.main_v_sd .item .mv_pc{display:none}
	.main_v_sd .item .mv_m{display:flex;align-items:center;justify-content: center;}	

	/* 서브기본 */
	#pg_satisfaction .user_opinion,
	#pg_satisfaction .u_s_tit{padding:24px 24px 16px;}
	#pg_satisfaction .radio_gp_wp{padding:0px 24px 16px;}
	#pg_satisfaction .user_opinion{flex-wrap:wrap;}
	#pg_satisfaction .user_opinion textarea{width:100%;height:52px;margin-right:0;margin-bottom:6px;}
	#pg_satisfaction .user_opinion .btn{width:100%}

	#snb .snb li{width:calc(100% / 3);}
	#snb .snb li:nth-child(3n) a{border-right:0}
	#snb .snb li:nth-child(5n) a{border-right:1px solid #E2E4E9}

	/* 정신건강정보 */
	.sub_01.sub_0110 .sec4 .tit_listbox li{width:100%;}
	
	/* 마음건강 */
	.sub0203 .sec2 .box_line{padding:24px !important}
	.sub0203 .sec2 .box_line .item{width:100%}

	/* 정신건강기관 */
	.agency_ect table{table-layout: fixed;}
	.agency_ect .sec_img{flex-wrap:wrap;padding:24px}
	.layer_pop_wp .ltit_wp .tit,
	.agency_ect .sec_img .text_box{width:100%;padding-left:0}

	.layer_pop_wp .ltit_wp{flex-wrap:wrap;}
	.layer_pop_wp .ltit_wp .tit{margin-top:12px}
	
	/* 센터소개 */
	.greeting .l_box{background:none;}
	.mivision .sec3 .sec_col_s.col_5 > *{width:calc((100% - 32px) / 2);}
}

@media (max-width: 540px){
	/* 기본 */
	.h1{font-size:2.5rem;line-height:3.25rem;} /* 40px */
	.h2{font-size:2.25rem;line-height:2.925rem;}/* 36px */
	.h3{font-size:2rem;line-height:2.6rem;}/* 32px */
	.h4{font-size:1.75rem;line-height:2.275rem;}/* 28px */
	.h5{font-size:1.5rem;line-height:1.95rem;}/* 24px */
	.h6{font-size:1.25rem;line-height:1.75rem;}/* 20px */

	.stit_1{font-size:1.125rem;line-height:1.688rem;}/* 18px */
	.stit_2{font-size:1.063rem;line-height:1.588rem;}/* 17px */
	.stit_3{font-size:1rem;line-height:1.5rem;}/* 16px */

	.body_1{font-size:0.938rem;line-height:1.38rem;}/* 15px */
	.body_2{font-size:0.875rem;line-height:1.313rem;}/* 14px */
	.body_3{font-size:0.813rem;line-height:1.313rem;}/* 13px */

	.caption{font-size:0.75rem;line-height:1.125rem;}/* 12px */
	#footer .foot_top .foot_t_l ul > li{width:calc((100% - 8px) / 2);margin:2px}

	/* 메인 */
	.main_sec1 .sec_wp .main_event_wp .item{padding:0;}
	.main_sec3 .map_wp .area_wp{position:relative;transform: scale(.8);}
	.main_sec3 .info_links .links li a:before{transform: scale(.8);margin-left:-10%}
	
	/* 서브기본 */
	#svisualLayout:before{left:-560px}
	#svisualLayout:after{right:-600px}
	#pg_satisfaction .radio_gp_wp ul li{width:calc(100% / 2);}
	.table_wp table {width:620px;}
	.basic_tb thead th,.basic_tb tbody td,.basic_tb tbody th,
	.custom_tb thead th,.custom_tb tbody td, .custom_tb tbody th{padding:10px 8px;}
	.breadcrumb{width:100%;margin-top:12px}
	.snb_0201_wp li{width:calc((100% - 16px) / 2);}

	/* 서브 */
	.sub_tit_wp{flex-wrap:wrap;}	
	.sitemap_list > li{width:100% !important}
	
	/* 정신건강정보 */
	.sub_01.sub_0110 .graph_box .img_wp img + img{padding-left:0;padding:8px;}

	/* 정신건강기관 */
	.agencymap_wp .sec1 .l_box{padding:24px}
	.agencymap_wp .sec1 .area_wp{transform: scale(.7);left: -7%;}	
	.agencymap_wp .sec1 .l_box .sort_link a{margin:4px }

	/* 센터소개 */
	.greeting .l_box .h1 {font-size:2rem !important;line-height:2.4rem !important;}
	.greeting .r_box{padding:32px}
	.greeting .r_box .h6 p{font-size:1.125rem;}
	.mivision .sec3 .sec_col_s.col_5 > *{width:100%;}
	.pg_tab a{font-size:0.938rem;height:40px;padding:8px 10px;}
	.b_intro2.sec_col > li{flex-wrap:wrap;padding:24px;}
	.b_intro2.sec_col .info_box .icon{transform: scale(.7);margin:-7% -7% 0}
	.b_intro2.sec_col .info_box .text_box{width:100%;padding-left:0;}
}

@media (max-width: 490px){
	/* 메인 */
	.main_v_sd .item{height:280px}
	.main_v_sd .item .mv_m{padding:16px 8px}
	.main_vsual_wp .slick-nav{display:none;}
	.main_vsual_wp .slick-dots{position:relative;top:0;width:100%;text-align:center;}
	.main_sec{padding-top:52px}
	.main_sec .sec_wp{margin-top:32px}
	.main_sec2{padding-top:12px;}
	.main_sec3 .info_links .links li{width:calc(100% / 3)}
	.main_sec3 .info_links .links li:nth-child(4n){border-right:1px solid #E4EAF8}
	.main_sec3 .info_links .links li:nth-child(3n){border-right:0}
}

@media (max-width: 420px){
	.main_sec3 .map_wp .area_wp{transform: scale(.7);}

	/* 정신건강기관 */
	.agencymap_wp .sec1 .l_box{padding:24px}
	.agencymap_wp .sec1 .area_wp{transform: scale(.6);left: -16%;}	
	.agencymap_wp .sec1 .l_box .sort_link a{margin:4px }	
}

@media (max-width:380px){	
	/* 센터소개 */
	.greeting .l_box .h1 p{display:inline}
}